@charset "UTF-8";
*{
	margin:0px;
}
.startMainWapper{
	width: 100%;
	height: 100%;
	background-color: rgb(250,250,250);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.styleBox{
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 50px;
}
.logo{
	height:40%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: Franklin Gothic Heavy;
	color:rgb(64,64,65);
}
.mainTotle{
	font-size:70px;
	height: 30%;
}
.subTitleBox{
	height: 25%;
	font-size: 30px;
	font-weight: 600;
	color:rgb(64,64,65);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.start{
	width: 200px;
	padding:10px;
	text-align:center;
	color: white;
	background-color: rgb(0,166,80);
	text-decoration:none;
	font-size: 20px;
	font-weight: 600;
}

