@charset "UTF-8";

* {
	margin: 0px;
}

.navs {
	width: 70%;
}

.mapboardWrap {
	display: flex;
	width: 70%;
}

.map_wrap {
	position: relative;
	width: 100%;
}

.title {
	font-weight: bold;
	display: block;
}

.hAddr {
	position: absolute;
	left: 10px;
	top: 10px;
	border-radius: 2px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1;
	padding: 5px;
}

.mark {
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 2px;
	background: rgb(0,130,240);
	color:white;
	z-index: 1;
	padding: 5px;
	cursor: pointer;
}

#centerAddr {
	display: block;
	margin-top: 2px;
	font-weight: normal;
}

.bAddr {
	width: 300px;
	height: 90px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.favoritesBox {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.favoritesBtn {
	border: none;
	background-color: transparent;
	color: white;
	font-size: 14px;
	font-weight: 600;
	position: relative;
}

.favoritesBtn:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0px;
	height: 2px;
	margin: 1px 0 0;
	transition: all 0.2s ease-in-out;
	transition-duration: 0.3s;
	opacity: 0;
	background-color: white;
}

.favoritesBtn:hover:after {
	width: 100%;
	opacity: 1;
}

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 100px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 90px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: rgb(35, 140, 250);
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	font-weight: 600;
	color: white;
}
.info .find{
	float:right; margin-right:10px;
	margin-top:5px;
}
.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	padding: 10px;
	position: relative;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}