@charset "UTF-8";

.signup {
	width: 30%;
	position: absolute;
	top: 0%;
	right: 0%;
}

.signup-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgb(100, 200, 120);
	height: 60px;
}

.signup-body {
	width: 100%;
	height: 100%;
	min-height: 700px;
	background-color: rgb(247, 247, 247);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.signupBoxWrapper {
	width: 300px;
	height: 500px;
}

.signupBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 25px;
	margin-top: 12px;
}

#signupForm {
	margin-top: 15px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 5px;
	background-color: white;
}

.signupLabels {
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 5px;
}

.signupBtn {
	height: 35px;
	width: 250px;
	padding: 5px;
	background-color: #beaefc;
	border: none;
	font-size: 15px;
	font-weight: 550;
	color: white;
}

.signupInputs {
	height: 26px;
	width: 240px;
	padding: 5px;
	background-color: white;
	border: 1px solid rgb(210, 210, 210);
	margin-bottom: 1px;
}

.signupInputs:focus{
	outline: 1px solid blue;
}

#emailSet{
	display:flex;
	justify-content: space-between;
}
.chkEmail{
	width: 110px;
	height:26px;
	margin-right: 22px;
	background-color: #beaefc;	
	border:none;
	font-weight: 450;
}