<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.treemap">

	<resultMap type="com.spring.treemap.domain.AddressVO" id="AddressVO">
		<id property="adrNo" column="adrNo" />
		<id property="userNo" column="userNo" />
		<id property="catNo" column="catNo" />
		<id property="adrName" column="adrName" />
		<id property="lat" column="lat" />
		<id property="lng" column="lng" />
		<id property="rowaddress" column="rowaddress" />
		<id property="address" column="address" />
		<id property="memo" column="memo" />
		<id property="createdAt" column="createdAt" />
	</resultMap>

	<resultMap type="com.spring.treemap.domain.CategoryVO" id="CategoryVO">
		<id property="userNo" column="userNo" />
		<id property="catNo" column="catNo" />
		<id property="iconUrl" column="iconUrl" />
		<id property="catName" column="catName" />
		<id property="createdAt" column="createdAt" />
	</resultMap>

	<resultMap type="com.spring.treemap.domain.MapVO" id="MapVO">
		<collection property="address" resultMap="AddressVO" />
		<collection property="category" resultMap="CategoryVO" />
	</resultMap>
	
	<select id="getAddressCount" resultType="int" parameterType="String">
		select count(adrNo) from board.address
		 <if test = '!_parameter.equals("")'>
        	where adrName like concat('%',#{keyword},'%')
        </if>
	</select>
	
	<select id="getCategoryCount" resultType="int" parameterType="String">
		select count(catNo) from board.category where catName =#{keyword}
    </select>
	
	<select id="getMapBoardList" resultMap="MapVO" parameterType="hashMap">
		select
		a.adrNo,a.userNo,a.catNo,a.adrName,a.lat,a.lng,a.rowaddress,a.address,b.iconUrl,b.catName from
		board.Address a, board.Category b 
        where a.userNo=b.userNo and a.catNo = b.catNo 
        and a.userNo=1 and b.userNo=1
        <if test = 'searchType.equals("adrName")'>
        	and a.adrName like concat('%',#{keyword},'%')
        </if>
        
        <if test = 'searchType.equals("catName")'>
        	and b.catName like concat('%',#{keyword},'%')
        </if>
        order by a.adrNo desc
        limit #{displayPost}, #{postNum}
	</select>

	<insert id="insertAddress"
		parameterType="com.spring.treemap.domain.AddressVO">
		insert into
		board.Address(userNo,catNo,adrName,lat,lng,rowaddress,address,memo)
		values(1,(select max(catNo) from board.category),#{adrName},#{lat},#{lng},#{rowaddress},#{address},#{memo})
	</insert>

	<insert id="insertCategory"
		parameterType="com.spring.treemap.domain.CategoryVO">
		insert into board.category(userNo,iconUrl, catName)
		values(1,#{iconUrl},#{catName})
	</insert>
	
	<select id="getMapBoardDetail" resultMap="MapVO">
		select
		a.adrNo,a.userNo,a.adrName,a.lat,a.lng,a.rowaddress,a.address,a.memo,a.createdAt,c.catName,c.catNo
		from board.category c, board.address a
		where a.adrNo = #{adrNo} and c.catNo = #{catNo}
	</select>
	
	<select id="getMapBoardCategoryList" resultMap="CategoryVO" parameterType="com.spring.treemap.domain.CategoryVO">
		select catName from board.category where userNo=#{userNo}
		limit #{startNum}, #{endNum} 
	</select>
	
	<select id="getCatNameList" resultMap="MapVO" parameterType="hashMap">
		 select
		a.adrNo,a.userNo,a.catNo,a.adrName,a.lat,a.lng,a.rowaddress,a.address,b.iconUrl,b.catName from
		board.Address a, board.Category b 
        where a.userNo=b.userNo and a.catNo = b.catNo and a.userNo=1 and b.userNo=1 and b.catName=#{keyword}
        order by a.adrNo desc
        limit #{displayPost}, #{postNum} 
	</select>
	
	<update id="updateAddress" parameterType="com.spring.treemap.domain.AddressVO">
	 	UPDATE board.address SET adrName=#{adrName},memo=#{memo} where adrNo=#{adrNo}
	</update>
	
	<update id="updateCategory" parameterType="com.spring.treemap.domain.CategoryVO">
	 	 UPDATE board.category SET catName=#{catName},iconUrl = #{iconUrl} where catNo=#{catNo}
	</update>
	
	<delete id="deleteAddress" parameterType="int">
		DELETE from board.address where adrNo=#{adrNo}
	</delete>
	
	<delete id="deleteCategory" parameterType="int">
		DELETE from board.category where catNo=#{catNo}
	</delete>

</mapper>